*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.main{
    height: 200vh;
}

.box-container{
    height: 30vh;
    background-color:rgb(132, 132, 67);
    position: relative;
}

.box{
    display:inline-block;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: brown;
    color: white;
    height:100px;
    width: 100px;
    margin: 5px;
}

#box1{
    position: relative;
    
}

#box2{
    /* position: absolute;
     top: 10px; */
    
}

#box3{
    position: fixed;
    top: 100px;
}

#box4{
    /* position: sticky;
    top: 0px; */
    

} 