

.container{
    height: 120vh;
    border: 10px solid #E1BFBD;
    margin: 50px;
    border-radius: 10px;
    background-color:#F4F6F8;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h3{
    color: #7257FF;
}

.cards{
    height: 100vh;
    width: 100%;
    margin-right: 0px;
    border-radius:10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}

.card1{
    padding: 20px;
    background-color:#FFFFFF; 
    display: flex;
    justify-content: center;
    flex-direction:column;
    height: 75vh;
    border-radius:10px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card1Header{
    background-color:#F0EDFF;
    text-align: center;
    width: 50vh;
    border-radius:10px;
    height: 350px;
}

.card2{
    position: relative;
    padding: 20px;
    background-color:#FFFFFF; 
    display: flex;
    justify-content: center;
    flex-direction:column;
    height: 75vh;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card2Header{
    background-color:#F0EDFF;
    text-align: center;
    width: 50vh;
    border-radius:10px;
    height: 350px;
}
.card3{
    padding: 20px;
    background-color:#FFFFFF; 
    display: flex;
    justify-content: center;
    flex-direction:column;
    height: 75vh;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card3Header{
    background-color:#F0EDFF;
    text-align: center;
    width: 50vh;
    border-radius:10px;
    height: 350px;
    
}

button{
    background-color: #7257FF;
    border-radius: 20px;
    padding: 8px 90px;
    color: white;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bestvalue{
    position: absolute;
    top: 2px;
    left: 135px;
    background-color: #FEDA4E;
    padding: 5px 25px;
    color: black;
}